<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("../partials/head.ejs")%>
</head>
<body>
   <div>
        <%-include("../partials/header.ejs", {userdata})%>
   </div>
    <main class="home">
        <div class="intro">
            <h1 class="title">ITALIAN FINEST</h1>
            <p>Looking for the best italian cuisine & deals? Swing by our restaurants for wide spread of delicious & hearty breakfast choices you can ever get in town.</p>
        </div>
        <div class="priority">
            <img src="https://thebigrajah.com/wp-content/uploads/2012/11/italian-food.jpg" alt="Italian Cuisine">
        </div>
    </main>
    <footer>
            <%-include("../partials/footer.ejs")%>
    </footer>
</body>
</html>